.photo-grid {
    display: grid;
    gap: 1rem;

    
  
    /* 4 final */
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    
 }



@media screen and (min-width: 320px) {
    .card-tall {
        grid-row: span 2 / auto;
     }
    
     .card-wide {
        grid-column: span 2 / auto;
     }

}




